# EditorConfig is awesome: https://editorconfig.org

# React Native files require space indentation and 2 spaces
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2

# JSON files require space indentation and 2 spaces
[*.json]
indent_style = space
indent_size = 2
